{% extends 'layout.html' %}

{% block content %}
    {% for gene in genes %}
        <div class="content-section">
            <div class="gen-info">
                <div class="content-block">
                    <h4>{{ gene.Original_request }}</h4>
                    <p>{{ gene.Function }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if no_genes %}
        <div class="content-section">
            <div class="gen-info">
                <div class="content-block">
                    {% for gene in no_genes %}
                        <p>{{ gene }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
